<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/baseStyle.css">
        <link rel="icon" type="image/png" href="/favicon-96x96.png">
        <title>Emanuel School Blog</title>
        

    </head>
    
    <body>
        <div style="display: flex; justify-content: center;">
            <h1 id="title">
              <img src="LogoSVG.svg" alt="Emanuel School Logo">
              <a class="link-text" href="https://www.emanuel.org.uk/">Emanuel School</a>
            </h1>
          </div>
          
        <div>
            <div class="hBox"><a href = /example>Test</a> <br></div>
            <div class="hBox"><a href = /users>Users</a></div>
            <div class="hBox">Test DIV</div>
        </div>
    </body>
</html>