<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/baseStyle.css">
        <link rel="icon" type="image/png" href="/favicon-96x96.png">
        <title>Emanuel School Blog</title>
        

    </head>
    
    <body>
        <div>
            <img src="LogoSVG.svg" alt="Emanuel School Logo" style="float: top">
            <h1 id="title">
              <a class="link-text" href="https://www.emanuel.org.uk/">Emanuel School</a>
            </h1>
          </div>
          
        <div>
            <ul class="navBar">
                <li><a href = /example>Example Page</a></li>
                <li><a href = /users>Users Page</a></li>
            </ul>
        </div>
    </body>
</html>