<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/baseStyle.css">
        <link rel="icon" type="image/png" href="/favicon-96x96.png">
        <title>Emanuel School Blog</title>
        

    </head>
    
    <body>
        <h1 id=title>
            Emanuel School Blog :)
        </h1>
        <p>
            <a href = /example>Test</a> <br>
            <a href = /users>Users</a>
        </p>
    </body>