* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(61, 61, 61);
}

h1 {
    font-size : 50px   
}

.subtitle-button {
    border: none;
    background-color: rgb(93, 0, 25);
    color: #ffe7e7;
    transition: all 0.3s ease;
}

.subtitle-button:hover {
    background-color: rgb(126, 10, 41);
    color: #ffffff;
}

.subtitleBelowBanner {
    text-align: center; 
    margin-top: 220px; 
    font-size: 24px; 
    font-weight: bold; 
    color: #ffe7e7; 
    position: relative; 
    z-index: 1; 
}

.banner { 
    width: 100%; 
    background-color: rgb(93, 0, 25); 
    color: #ffe7e7; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000;
}

.bannerShadow {
    width: 100%; 
    background-color: rgb(0, 0, 0, 0.5); 
    text-align: center; 
    padding: 5px 0; 
    position: fixed; 
    top: 178px; 
    left: 0; 
    right: 0; 
    z-index: 999;
}

.box-link {
    text-decoration: none; 
    display: block;
}

.box {
    user-select: none;
    font-size: 30px;
    color: #ffe7e7; 
    min-width: 30vw;
    height: 500px;
    border: 5px solid rgb(206, 14, 65);
    padding: 20px;
    margin: 10px;
    background-color: rgb(206, 14, 65);
    box-sizing: border-box;
    border-radius: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    transition: all 0.1s ease;
}

.box:hover {
    color: #ffffff;
    transform: scale(1.05);
}

.box:active {
    background-color: rgb(169, 10, 53);
    border: rgb(169, 10, 53);
    font-size: 100px;
    transition: background-color 0.05s ease, border 0.05s ease;
}


.flex-container {
    margin-top: 0px; 
    display: flex;
    flex-direction: row;
    height: 550px;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0px;
    scrollbar-width: none;
    border-radius: 10px;
}
.flex-container::-webkit-scrollbar {
    display: none;
}