* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size : 50px   
}

.banner { 
    width: 100%; 
    background-color: rgb(206, 14, 65); 
    color: #ffe7e7; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000;
}

.bannerWidth {
    width: 100%; 
    background-color: rgb(95, 16, 16); 
    text-align: center; 
    padding: 2.5px 0; 
    position: fixed; 
    top: 182px; 
    left: 0; 
    right: 0; 
    z-index: 1000;
}
.bannerShadow {
    width: 100%; 
    background-color: rgb(0, 0, 0, 0.5); 
    text-align: center; 
    padding: 5px 0; 
    position: fixed; 
    top: 187px; 
    left: 0; 
    right: 0; 
    z-index: 1000;
}

.box {
    
    color: #ffe7e7; 
    min-width: 30vw;
    border: 15px solid rgb(206, 14, 65);
    padding: 50px;
    margin: 10px;
    background-color: rgb(206, 14, 65);
    box-sizing: border-box;
    border-radius: 10px;
}

.flex-container {
    margin-top: 200px; 
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
}