* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size : 50px   
}

h2 {
    text-align: center; /* Centers the title text horizontally */
    margin-top: 220px; /* Adjust as needed to position below the banner */
    font-size: 24px; /* Title font size */
    font-weight: bold; /* Makes the title bold */
    color: rgb(206, 14, 65); /* Matches the banner color */
    position: relative; /* Ensures it stays above the flexbox */
    z-index: 1; /* Keeps it above scrolling content */
}

.banner { 
    width: 100%; 
    background-color: rgb(206, 14, 65); 
    color: #ffe7e7; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000;
}

.bannerShadow {
    width: 100%; 
    background-color: rgb(0, 0, 0, 0.5); 
    text-align: center; 
    padding: 5px 0; 
    position: fixed; 
    top: 178px; 
    left: 0; 
    right: 0; 
    z-index: 999;
}

.box {
    
    color: #ffe7e7; 
    min-width: 30vw;
    min-height: 200px;
    border: 15px solid rgb(206, 14, 65);
    padding: 50px;
    margin: 10px;
    background-color: rgb(206, 14, 65);
    box-sizing: border-box;
    border-radius: 10px;
}

.flex-container {
    margin-top: 200px; 
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0px;
    scrollbar-width: none;
}
.flex-container::-webkit-scrollbar {
    display: none;
}