@font-face {
    font-family: "myfont";
    src: url("/fonts/SourceSansPro-Regular.woff") format('woff');
  }
  
  @font-face {
    font-family: "myfont";
    src: url("/fonts/SourceSansPro-Bold.woff") format('woff');
    font-weight: bold;
  }

body {
    font-family: myfont;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#title {
    /* use rgb(240, 240, 240) as the colour after testing*/

    background-color: rgb(240, 240, 240);
    text-align: center;
    font-size: 50px;
    margin: 0%;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

