@font-face {
    font-family: "myfont";
    src: url("/fonts/SourceSansPro-Regular.woff") format('woff');
  }

  @font-face {
    font-family: "myfont";
    src: url("/fonts/SourceSansPro-Bold.woff") format('woff');
    font-weight: bold;
  }

body {
    font-family: myfont;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(240, 240, 240);
}

#title {
    /* use rgb(240, 240, 240) as the colour after testing*/
    position: relative;
    background-color: rgb(240, 240, 240);
    text-align: center;
    font-size: 50px;
    margin: 0%;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

#title img {
    position: relative;
    background-color: rgb(240, 240, 240);
    margin: 0%;
    width: 100vw;
    padding: 0px;
    size: 10px;
}

/*hCont stands for Header Contents     hBox stands for Header Box*/
.navBar {
    background-color: bisque;
    text-decoration: none;  
    color: inherit;          
    cursor: pointer; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navBar li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
